    *, *::before, *::after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            min-height:100vh;
            background:white;
            direction: rtl;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
body{
    font-size: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}