/* first vh  */
.fvh {
    width: 100%;
    padding: 0 12%;
    height: 100vh;
    /* border: 2px solid seagreen; */
    position: relative;

    .ainh {
        width: 180px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 4px rgba(0, 0, 0, 0.562) solid; */
        background-color: rgba(0, 0, 0, 0.418);

        &:hover {
            background-color: white;

            >div>i {
                &:first-of-type {
                    left: 0;
                }

                &:last-of-type {
                    left: 30px;
                }

                >svg {
                    stroke: black;
                }
            }

            >span {
                color: black;
            }
        }

        >* {
            display: flex;
        }

        >span {
            color: white;
        }

        div {
            position: relative;
            width: 25px;
            height: 25px;
            /* border: white solid 2px; */
            overflow: hidden;
            margin-left: 17px;

            >i {
                position: absolute;
                width: 25px;
                height: 25px;
                transition: 1s;

                &:first-of-type {
                    left: -30px;
                }

                &:last-of-type {
                    left: 0;
                }

                >svg {
                    stroke: white;
                }
            }
        }
    }

    >.row {
        height: 13%;
        width: 100%;
        flex-wrap: nowrap !important;
        /* overflow: hidden; */
        background-color: white;
        /* border: 2px black solid; */
        align-items: center;

        >figure {
            width: 125px;
            height: 70px;
            margin: 0 17px;

            >img {
                height: 100%;
                width: 100%;
                scale: 1.1;
            }
        }

        >.menu {
            width: calc(100% - 125px);
            display: flex;
            justify-content: space-between;
            position: relative;

            >nav {
                >ul {
                    display: flex;
                    align-content: center;
                    z-index: 6488;

                    >li {
                        /* border: 2px solid red; */
                        padding: 0 8px;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        z-index: 54848;

                        &:hover {
                            >a {
                                scale: 1.1;

                                &::after {
                                    width: 100%;
                                }
                            }

                            >ul {
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        /* position: relative; */
                        >.woman,
                        >.man,
                        >.baby {
                            opacity: 0;
                            transition: .4s;
                            visibility: hidden;
                        }

                        >ul {
                            width: 100%;
                            height: 570px;
                            background-color: rgba(56, 48, 48, 0.911);
                            /* width: 400px;s */
                            position: absolute;
                            top: 158%;
                            right: 0;
                            display: flex;
                            justify-content: space-between;

                            >li {
                                margin: 15px 35px;
                                color: rgb(206, 42, 42);
                                font-size: 30px;
                                font-weight: 900;
                                display: flex;
                                justify-content: center;

                                &:last-of-type {
                                    margin-right: 80px;
                                }

                                >ul {
                                    position: absolute;
                                    margin-top: 15px;

                                    >li {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin: 25px 0;
                                        font-size: 18px;
                                        color: white;

                                        &:hover {
                                            >a {
                                                scale: 1.4;
                                            }
                                        }

                                        /* text-align: center; */
                                        &:first-of-type {
                                            margin-top: 40px;
                                        }

                                        >a {
                                            transition: .5s;
                                        }
                                    }
                                }

                                >img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                            }

                        }

                        >.after {

                            &::after {
                                content: '';
                                height: 2px;
                                background-color: black;
                                width: 0px;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                display: flex;
                                transition: .4s;
                            }


                        }

                        >a {
                            /* background-color: yellow; */
                            display: flex;
                            font-size: 20px;
                            font-weight: 800;
                            transition: .5s;
                            position: relative;

                            >svg {
                                width: 25px;
                                height: 25px;
                            }


                            padding: 7px;

                        }
                    }
                }
            }

            >.login {
                display: flex;

                >li {
                    /* border: 2px solid red; */
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    z-index: 54848;

                    &:hover {
                        >a {
                            scale: 1.2;

                            >svg {
                                fill: black;
                            }
                        }
                    }


                    >a {
                        /* background-color: yellow; */
                        display: flex;
                        font-weight: 600;

                        >svg {
                            margin: 0 5px;
                            width: 23px;
                            height: 23px;
                            fill: white;
                        }

                        padding: 7px;

                    }
                }

            }
        }

    }

    .vid {
        width: 100%;
        height: 75%;
        top: 7.5%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            width: 60%;
            height: 50%;
            /* background-color: yellow; */
            z-index: 2;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            >* {
                text-transform: capitalize;
                text-align: center;
                width: 100%;
            }

            >h1 {
                font-size: 70px;
                color: white;
                font-weight: 900;
            }

            >h2 {
                /* margin-top: 5px; */
                font-size: 37px;
                color: rgb(233, 189, 189);
                font-weight: 700;
            }

            >a {
                width: 45%;
            }
        }

        >video {
            width: 100%;
            scale: 1.55;
            height: 100%;
            position: absolute;
            top: -20px;
            left: 0;
            display: flex;
        }
    }


    >.bfvh {
        width: 100%;
        position: absolute;
        bottom: 13px;
        left: 0;

        height: 10%;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        justify-content: space-evenly;

        >div {
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            >div>h3,
            p {
                text-align: center;
                margin-right: 5px;
                margin-top: 6px;
            }

            >div>h3 {
                font-size: 17px;
            }

            >div>p {
                color: rgba(0, 0, 0, 0.658);
                font-size: 14px;
            }

            >i {
                width: 50px;
                height: 50px;
                margin-left: 15px;

                >img {
                    width: 100%;
                    height: 100%;
                }

                >svg {
                    width: 85%;
                    height: 100%;
                }
            }
        }
    }
}

/* end of first vh  */

.gallery {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
       >h2{
        align-items: center;
        height: 75px;
        font-size: 50px;
        position: absolute;
        display: flex;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.459);
        justify-content: center;
        margin-top: 1%;
            text-align: center;
        }

    /* display: flex; */
    >.row {
        margin-top: 15%;
        justify-content: center;
        justify-content: space-evenly;
     

        >figure {
            width: 280px;
            position: relative;
            margin-top: -5%;
            height: 550px;
            &:hover{
                >div{
                    top: 82%;
                }
                >img , div{
                    scale: 1.05;
                }
            }
            
            >img {
                border: 3px solid black;
                width: 280px;
                height: 425px;
                transition: .4s;
            }

            >div {
                width: 100%;
                border: 4px solid black;
                background-color: rgba(0, 0, 0, 0.753);
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                position: absolute;
                transition: .4s;
                top: 78%;

                >h3,
                h5 {
                    color: white;
                    position: relative;
                    z-index: 25;
                    width: 100%;
                }
                >h3{
                    font-size: 23px;
                }
                >h5{
                    font-size: 15px;
                }

            }
        }
    }
}

/* end of 2nd sec  */